body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/128/684/original/pexels-nurseryart-346885.jpg?1718124776");
  background-repeat: no-repeat;
  background-size: cover;
  color: #2a2438;
  background-color: #dde0ab;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
}
.container {
  margin: 100px auto;
  padding-bottom: 10px;
  max-width: 600px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
}

header {
  margin-bottom: 30px;
}

h1 {
  font-weight: 800;
  font-size: 34px;
  line-height: 1.5;
}

h3 {
  font-weight: 400;
  font-size: 26px;
  line-height: 1;
}

form {
  border-radius: 10px;
  display: flex;
  padding: 30px;
  margin-bottom: 30px;
}

.empty-input {
  color: #2a2438;
  border: 2px solid #2a2438;
  border-radius: 30px;
  width: 70%;
  font-size: 16px;
  line-height: 20px;
  padding: 14px;
}

.submit-button {
  margin-left: 10px;
  color: #dbd8e3;
  background: #352f44;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 30px;
  width: 130px;
  padding: 14px 24px;
}

.ai-response {
  font-size: 18px;
  padding: 20px;
  line-height: 2;
}

footer {
  font-size: 15px;
  margin-top: 10px;
}

a {
  color: #5c5470;
}
